<!-- Single Project -->
    <section id="single-project">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <article class="gallery"  itemscope itemtype="http://schema.org/ImageGallery">
                        {% for image in page.images %}
                            <figure itemprop="associatedMedia" class="wow zoomIn" data-wow-duration="0.7s" data-wow-delay="{{ forloop.index | minus: 1 | modulo: 3 | times: 0.3 }}s">
                                <a href="/img/projects/{{ page.title }}/full/{{ image.file }}" itemprop="contentUrl" data-size="1900x1344">
                                    <img src="/img/projects/{{ page.title }}/thumbs/{{ image.file }}" itemprop="thumbnail" alt="{{ image.title }}" />
                                </a>
                                <figcaption itemprop="caption description">{{ image.title }}</figcaption>
                            </figure>
                        {% endfor %}
                    </article>
                </div>
                <div class="col-sm-4">
                    <div class="about-project">
                        <div class="card-panel">
                            <h4>Brief</h4>
                            <span>{{ page.content }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
