 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.waypoints.min.js" }}"></script>
    <script src="{{ "/js/jquery.sticky.js" }}"></script>
    <script src="{{ "/js/nicescroll.min.js" }}"></script>
    <script src="{{ "/js/owl.carousel.min.js" }}"></script>
    <script src="{{ "/js/bootstrap-progressbar.min.js" }}"></script>
    <script src="{{ "/js/wow.min.js" }}"></script>
    <script src="{{ "/js/parallax.min.js" }}"></script>
    <script src="{{ "/js/modernizr.min.js" }}"></script>
    <script src="{{ "/js/jquery.fluidbox.min.js" }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
